h1 {
    display: flex;
    justify-content: space-between;
    margin-left: -1rem;
    flex-flow: row wrap;
}

h1 {
    flex: 1 0;
    background-color: green;
    margin-left: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
}
h1 {
    color:red;
}
.container {
    background: red;
    max-width: 960px;
    max-height: 1000px;
    margin: 0 auto;
    padding: 5px;
}
.item {
    background: blue;
    margin: 5px;
    color: white;
    height: 50px;
    text-align: center;
    line-height: 50px;
}